*{
    margin: 0;
    padding: 0;
}
body{
    background:url('../_img/Fundo.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}.container{
    width: 50vw;
    height: 50vh;
}